[user]
	email = david.elbaze.93@gmail.com
	name = David Elbaze
[color]
	ui = auto

[diff]
    tool = meld

[difftool]
    prompt = false

[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[core]
	quotepath = false
	commitGraph = true
[gc]
	writeCommitGraph = true
